.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.header h1 {
  color: var(--blue);
  font-size: 4rem;
  font-weight: 900;
  line-height: 4.8rem;
}

.header h1 span {
  color: var(--purple-dark);
}

.logo svg{
  width: 2.2rem;
  height: 3.6rem;
}